/* body {
	background: black;
}
 */
.roof {
	width: 0px;
 	height: 0px;
 	border-left: 200px solid transparent;
 	border-right: 200px solid transparent;
 	border-bottom: 200px solid #18252e;
 	position: fixed;
}
.block{
	top: 208px;
	left: 20px;
	width: 375px;
	height: 100px;
	background-image: url("../img/wst4.png");
	position: fixed;

}
.block_two{
	top: 309px;
	left: 20px;
	width: 375px;
	height: 100px;
	background-image: url("../img/wst4.png");
	position: fixed;
	border-top: 1px solid black;
}
.space {
	display: inline-block;
	width: 200px;
	height: 100px;
	position: fixed;
	margin: 0px 200px 0px 240px;

}
.window{
	margin: 10px;
	background-image: url("../img/fotookna.jpg");
	background-repeat: no-repeat;
	width: 45px;
	height: 60px;
	background-size: 100%;
	position: fixed;
	display: inline-block;
}
.door {
	width: 45px;
	height: 85px;
	background: #4f4543;
	position: fixed;
	/* left: 90px; */
	margin: 10px 0px 0px 75px;
}
.door:after {
	position: fixed;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #898480;
	margin: 38px 0px 45px 32px;
}

