	/* body {
	background: black;
}
 */
.roof {
	width: 0px;
 	height: 0px;
 	border-left: 200px solid transparent;
 	border-right: 200px solid transparent;
 	border-bottom: 200px solid #18252e;
 	position: relative;
 	margin: 0px 0px 0px 5px;
}
.block{
	top: 0;
	left: 20px;
	width: 375px;
	height: 100px;
	background-image: url("../img/wst4.png");
	position: relative;

}

.window{
	margin: 10px;
	background-image: url("../img/fotookna.jpg");
	background-repeat: no-repeat;
	width: 45px;
	height: 60px;
	background-size: 100%;
	position: relative;
	display: inline-block;
}
.door {
	width: 45px;
	height: 85px;
	background: #4f4543;
	position: relative;
	margin: 10px 0px 0px 0px;
	display: inline-block;
}
.door-dir {
	z-index: 5;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #898480;
	color: #898480;
	margin: 35px 0px 0px 30px;
}

.right {
	float: right;
}